.input {
  & {
    @apply px-4 w-full rounded-lg border-[#838DD1] h-[40px] max-w-[250px] border-[1px] caret-[#838DD1] text-black  focus:border-[#838DD1] focus:border-[2px] focus-visible:outline-[1px] focus-visible:outline-[#838DD1]
  }

  &-sm {
    @apply h-[30px] max-w-[200px]
  }
  &-lg {
    @apply h-[50px] max-w-[300px]
  }
}