.badge {
  & {
    @apply py-[2px] px-[10px] rounded-[2px];
  }
  &-blue {
    @apply text-[#1E429F] bg-[#E1EFFE]
  }
  &-green {
    @apply text-[#03543F] bg-[#DEF7EC]
  }
  &-red {
    @apply text-[#9B1C1C] bg-[#FDE8E8]
  }
  &-sm {
    @apply py-[1px] px-[5px] text-base;
  }
  &-base {
    @apply py-[2px] px-[10px] text-base;
  }
  &-lg {
    @apply py-[3px] px-[15px] text-lg;
  }
}
