@tailwind components;

@layer components {
  .btn {
    @apply inline-flex items-center justify-center gap-2 rounded-lg border-2 border-transparent text-white;

    &-slate {
      @apply bg-[#838DD1] hover:bg-[#A3B0E0] active:border-[#262840] active:bg-[#40446F];
    }

    &-xs {
      @apply px-3 py-2 text-sm/normal;
    }

    &-sm {
      @apply px-3 py-2 text-base/normal;
    }

    &-base {
      @apply px-5 py-2.5 text-base/normal;
    }

    &-l {
      @apply px-5 py-3 text-lg/normal;
    }

    &-xl {
      @apply px-6 py-3.5 text-lg/normal;
    }
  }
}
