@tailwind components;

@layer components {
  .burger {
    @apply relative;

    &,
    &::before,
    &::after {
      @apply block h-0.5 w-4 rounded-sm bg-[#838DD1] transition-all;
    }

    &::before,
    &::after {
      @apply absolute left-0;
      content: '';
    }

    &::before {
      @apply top-[calc(24px/-4)];
    }

    &::after {
      @apply top-[calc(24px/4)];
    }

    &[data-opened='true'] {
      @apply bg-transparent;

      &::before {
        @apply translate-y-[calc(24px/4)] rotate-45;
      }

      &::after {
        @apply translate-y-[calc(24px/-4)] -rotate-45;
      }
    }
  }
}
