.card {
  & {}

  &-blog {
    @apply text-black w-[98%] md:w-[80%] m-auto h-fit bg-[#fff] rounded-sm
  }

  &-abouts {
    @apply rounded-md h-fit bg-[#3F4B6999] p-[5px] text-2xl/normal backdrop-blur-[10px] lg:text-3xl/normal even:xl:-translate-y-[190px] even:lg:-translate-y-[140px]
  }

  &-service {}

  &-service:hover {}

  &-content {}

  &-content:hover {}

  &-blogsFilter {
    @apply md:min-h-[65px] border-[#838DD1] md:fixed md:left-[5%] md:max-w-[300px]  border-[1px] w-[98%] rounded-sm shadow-2xl p-4 m-auto md:mt-0 mt-[20px] bg-[#fff] md:h-[calc(100vh-200px)]
  }
}